---
layout: page
---
{% if page.profile %}
<div class="profile col one {{ page.profile.align }}">
  {% if page.profile.image %}
  <img class="one" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  {% if page.profile.address %}
  <div class="address">
    {{ page.profile.address }}
  </div>
  {% endif %}
  <div class="social" align="center">
    <span class="contacticon center">
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn"><i class="fa fa-linkedin-square"></i></a>
      <a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub"><i class="fa fa-github-square"></i></a>
      <a href="https://kartik-perisetla.medium.com/" target="_blank" title="Medium"><i class="fa fa-medium-square"></i></a>
      <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter"><i class="fa fa-twitter-square"></i></a>
      <a href="https://scholar.google.com/citations?user=nqolEx4AAAAJ&hl=en" target="_blank" title="Google scholar"><i class="ai ai-google-scholar-square"></i></a>
    </span>
    <div class="col three caption"></div>
  </div>
</div>
{% endif %}

{{ content }}
