---
layout: page
---
{% if page.profile %}
<div class="profile col one {{ page.profile.align }}">
  {% if page.profile.image %}
  <img class="one" src="{{ page.profile.image | prepend: '/assets/img/' | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  {% if page.profile.address %}
  <div class="address">
    {{ page.profile.address }}
  </div>
  {% endif %}
  <div class="social" align="center">
    <span>
      <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank" title="LinkedIn" style="color:blue">LinkedIn</a>
      / <a href="https://github.com/{{ site.github_username }}" target="_blank" title="GitHub" style="color:blue">Github</a>
      / <a href="https://kartik-perisetla.medium.com/" target="_blank" title="Medium" style="color:blue">Medium</a>
      / <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" title="Twitter" style="color:blue">Twitter</a>
    </span>
  </div>
</div>
{% endif %}

{{ content }}
